{% extends 'base.html' %}
{% block inlinestyle %}
<style>
    .bootstrap-table .fixed-table-container .table thead th .th-inner {
      overflow: inherit;
    }
    .table-header-rotated td.id {
      font-weight: bold;
    }
    .table-header-rotated th {
      height: 120px;
      white-space: nowrap;
    }
    .table-header-rotated th:not(.id) > div {
      transform: translate(-9px, 0px) rotate(-90deg);
      width: 30px;
    }
    .table-header-rotated th > div > span {
      padding: 5px 10px;
    }

    .bootstrap-table .fixed-table-pagination >.pagination-detail .page-list {
        display:none;
    }
</style>
{% endblock inlinestyle %}

{% block content %}
<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img src="{{ url_for('static', path='assets/phit.png') }}" class="img-thumbnail" width="40" height="32" />
            <span class="fs-4 ms-2">Prime Health Initiative Tanzania (PHIT)</span>
        </a>
      </header>
  
      <div class="p-5 bg-body-tertiary rounded-3">
        <div class="container-fluid py-2">
          <h1 class="display-5 fw-bold">MMama Prediction Model</h1>
          <p class="col-md-12">
            MLINDE Mama (Mmama) Prediction Model is a Machine Learning (ML) model to predict adverse maternal 
            outcomes using data from antenatal care visits. This model has been developed as part of the MLINDE Mama Project 
            at the Prime Health Initiative Tanzania (PHIT) under BMGF award [add more content]
            <br /> <br />
            Click <a href="#">here</a> to learn more about the model.
            Click <a href="#">here</a> to learn more about the PHIT
          </p>
          <p>Interact directly with the API using example code below</p>
        </div>
        <div class="col-md-12 p-3 mb-2 bg-dark text-white rounded-3 text-start">
            <code>
                $ curl -X POST "http://ai.phit.or.tz/predict/" -H "accept: application/json" -H "Content-Type: application/json" -d '[{"systolic":120,"diastolic":78,"gestationage":29,"protein_in_urine":0,"temperature":37,"bmi":24.44,"blood_for_glucose":5.7},{"systolic":110,"diastolic":80,"gestationage":20,"protein_in_urine":1,"temperature":37,"bmi":22.44,"blood_for_glucose":5.6}]'
            </code>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Individual Prediction</h2>
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="100" max="160" value="120" step="1" class="form-control" id="systolic" name="systolic" placeholder="systolic">
                            <label for="systolic">systolic</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="60" max="100" value="80" step="1" class="form-control" id="diastolic" name="diastolic" placeholder="diastolic">
                            <label for="diastolic">diastolic</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="0" max="42" value="28" class="form-control" id="gestationage" name="gestationage" placeholder="gestationage">
                            <label for="gestationage">gestational Age</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="0" max="1" value="0" step="1" class="form-control" id="protein_in_urine" name="protein_in_urine" placeholder="protein_in_urine">
                            <label for="protein_in_urine">protein in urine</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="1.0" max="10" value="5.7" step=".1" class="form-control" id="blood_for_glucose" name="blood_for_glucose" placeholder="blood_for_glucose">
                            <label for="blood_for_glucose">blood for glucose</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="32" max="40" value="37" class="form-control" id="temperature" name="temperature" placeholder="temperature">
                            <label for="temperature">temperature</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="20.0" max="30.0" value="24.44" step=".01" class="form-control" id="bmi" name="bmi" placeholder="bmi">
                            <label for="bmi">bmi</label>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-secondary" type="submit">Predict</button>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="form-floating">
                            <textarea id="results" name="results" class="form-control" placeholder="Prediction results" style="height: 80px"></textarea>
                            <label for="results">prediction results</label>
                        </div>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
              <h2>Input a CSV File</h2>
              <p>Input a csv file with the following columns</p>
              <p>Download sample file <a href="{{ url_for('static', path='data/anc_test_data.csv') }}">here</a></p>
              <div class="mb-3">
                <input class="form-control" id="inputFile" name="inputFile" type="file" accept=".csv">
              </div>
              <button class="btn btn-outline-secondary" type="button" id="btnSubmitCSV" name="btnSubmitCSV">predict</button>
              <div id="toolbar"></div>
              <div class="mt-4">
                <table  id="tblResults"
                        data-toggle="table"
                        data-toolbar="#toolbar"
                        data-show-export="false"
                        data-show-columns="false"
                        data-show-toggle="true"
                        data-search="false"
                        data-height="460"
                        data-pagination="true"
                        data-classes="table table-hover table-header-rotated">
                    <thead>
                        <tr>
                            <th data-field="systolic" data-sortable="true">systolic</th>
                            <th data-field="diastolic" data-sortable="true">diastolic</th>
                            <th data-field="gestationage" data-sortable="true">gest age</th>
                            <th data-field="protein_in_urine" data-sortable="true">protein in urine</th>
                            <th data-field="temperature" data-sortable="true">temperature</th>
                            <th data-field="bmi" data-sortable="true">bmi</th>
                            <th data-field="blood_for_glucose" data-sortable="true">blood for glucose</th>
                            <th data-field="prediction" data-sortable="true">prediction</th>
                        </tr>
                    </thead>
                </table>
              </div>
            </div>
          </div>
      </div>
  
      <footer class="pt-3 mt-4 text-body-secondary border-top">
        © PHIT 2024
      </footer>
    </div>
</main>
{% endblock content %}
{% block javascript %}
<script>
    $(document).ready(function () {

        // $.fn.nval = function() {
        //     return Number(this.val())
        // };
        // the above creates nval() function so that you can use as
        // $('#systolic').nval()

        var data1;

        $.valHooks.number = {
            get: function( elem ) {
                return elem.value * 1;
            }
        };

        $('form').submit(function(e){
            e.preventDefault();
            const data = [{
                systolic:$('#systolic').val(),
                diastolic:$('#diastolic').val(),
                gestationage:$('#gestationage').val(),
                protein_in_urine:$('#protein_in_urine').val(),
                temperature:$('#temperature').val(),
                bmi:$('#bmi').val(),
                blood_for_glucose:$('#blood_for_glucose').val()
            }];
            $.ajax({
                type:'POST',
                url:'predict',
                data:JSON.stringify(data),
                contentType:'application/json'
            }).done((data)=>{
                console.log({data});
                $('#results').text( data[0].prediction );
            }).fail((err)=>{
                console.log(err);
                $('#results').text('error with the input file');
            }).always(()=>{
                //console.log('always called')
            })
        });

        // Input CSV file

        $('#inputFile').change(function(e){
            var ext = $("input#inputFile").val().split(".").pop().toLowerCase();
            if($.inArray(ext, ["csv"]) == -1) {
                alert('Invalid file name');
                return false;
            }

            if (e.target.files != undefined){
                var reader = new FileReader();
                reader.onload = function(e) {
                    var rows = e.target.result.split("\r\n");
                    if (rows.length > 0){
                        var cols = rows[0].split(',');
                        var jarr = new Array();
                        for(var i=1;i<rows.length;i++){
                            row = rows[i].split(',')
                            var json = {};
                            for(var j=0;j<row.length;j++){
                                json[cols[j]] = parseFloat(row[j]);
                            }
                            jarr.push(json);
                        }
                        data1 = jarr
                    }
                }
                reader.readAsText($("#inputFile")[0].files[0]);
            }
        })

        $('#btnSubmitCSV').click(function(){
            $.ajax({
                type:'POST',
                url:'predict',
                data:JSON.stringify(data1),
                contentType:'application/json'
            }).done((data)=>{
                console.log(data);
                $('#tblResults').bootstrapTable('load',data);
            }).fail((err)=>{
                console.log(err);
            }).always(()=>{
                //console.log('always called');
            })
        })
    })
</script>
{% endblock javascript %}
