{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img src="{{ url_for('static', path='assets/phit.png') }}" class="img-thumbnail" width="40" height="32" />
            <span class="fs-4 ms-2">Prime Health Initiative Tanzania (PHIT)</span>
        </a>
      </header>
  
      <div class="p-5 bg-body-tertiary rounded-3">
        <div class="container-fluid py-2">
          <h1 class="display-5 fw-bold">MMama Prediction Model</h1>
          <p class="col-md-12">
            MLINDE Mama (Mmama) Prediction Model is a Machine Learning (ML) model to predict adverse maternal 
            outcomes using data from antenatal care visits. This model has been developed as part of the MLINDE Mama Project 
            at the Prime Health Initiative Tanzania (PHIT) under BMGF award [add more content]
            <br /> <br />
            Click <a href="#">here</a> to learn more about the model.
            Click <a href="#">here</a> to learn more about the PHIT
          </p>
          <p>Interact directly with the API using example code below</p>
        </div>
        <div class="col-md-12 p-3 mb-2 bg-dark text-white rounded-3 text-start">
            <code>
                $ curl -X POST "http://ai.phit.or.tz/predict/" -H "accept: application/json" -H "Content-Type: application/json" -d '[{"systolic":120,"diastolic":78,"gestationage":29,"protein_in_urine":0,"temperature":37,"bmi":24.44,"blood_for_glucose":5.7},{"systolic":110,"diastolic":80,"gestationage":20,"protein_in_urine":1,"temperature":37,"bmi":22.44,"blood_for_glucose":5.6}]'
            </code>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Individual Prediction</h2>
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="100" max="160" value="120" step="1" class="form-control" id="systolic" name="systolic" placeholder="systolic">
                            <label for="systolic">systolic</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="60" max="100" value="80" step="1" class="form-control" id="diastolic" name="diastolic" placeholder="diastolic">
                            <label for="diastolic">diastolic</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="0" max="42" value="28" class="form-control" id="gestationalage" name="gestationalage" placeholder="gestationalage">
                            <label for="gestationalage">gestational Age</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="0" max="1" value="0" step="1" class="form-control" id="protein_in_urine" name="protein_in_urine" placeholder="protein_in_urine">
                            <label for="protein_in_urine">protein in urine</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="1.0" max="10" value="5.7" class="form-control" id="blood_for_glucose" name="blood_for_glucose" placeholder="blood_for_glucose">
                            <label for="blood_for_glucose">blood for glucose</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="32" max="40" value="37" class="form-control" id="temperature" name="temperature" placeholder="temperature">
                            <label for="temperature">temperature</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="number" min="20.0" max="30.0" value="24.44" class="form-control" id="bmi" name="bmi" placeholder="bmi">
                            <label for="bmi">bmi</label>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-secondary" type="button">Predict</button>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <textarea id="results" name="results" rows="2" class="form-control"></textarea>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
              <h2>Input a CSV File</h2>
              <p>Input a csv file with the following columns</p>
              <p>systolic, diastolic, gestationalage, protein_in_urine, temperature, bmi, blood_for_glucose</p>
              <div class="mb-3">
                <input class="form-control" id="formFileSm" type="file" accept=".csv">
              </div>
              <button class="btn btn-outline-secondary" type="button">submit</button>
            </div>
          </div>
      </div>
  
      <footer class="pt-3 mt-4 text-body-secondary border-top">
        © PHIT 2024
      </footer>
    </div>
</main>
{% endblock content %}
{% block javascript %}
<script>
    $(document).ready(function () {
        
    })
</script>
{% endblock javascript %}
